.grey .ui-grid-cell-contents
{
  background-color:red;
}

header {
/* 	background-color: #000000 */
background-image: url("../images/header.png");
	background-repeat:no-repeat;
	width: 1200px;
/* 	max-width:1200px; */
	height: 130px;
/* 	max-height: 130px; */
}
header div .logo {
	background-image: url("../images/header.png");
	background-repeat:no-repeat;
	width: 1200px;
/* 	max-width:1200px; */
	height: 130px;
/* 	max-height: 130px; */
}
.siparisTable {
/* 	visibility: hidden; */
/* margin-top: 130px */
}
.ui-grid-header-cell {
	background-color :#DA1111;
	border-color : #000000
}